/*-----------------------------------
style
-----------------------------------*/
.resultArea {
  margin-top: 20px;
}

.productArea {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
}
.productArea .product {
  width: calc(33.333% - 20px);
  margin: 10px 10px 20px 10px;
}
.productArea .product .photo {
  margin-bottom: 10px;
}
.productArea .product img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
